{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <div class="content">
        <main class="posts">
            <h1 class="post-title">{{ .Title }}</h1>

            {{ if .Content }}
                <div class="content">{{ .Content }}</div>
            {{ end }}

            <div class="posts-list">
                {{ range $paginator.Pages }}
                    <div class="interactive-card">
                        <div class="card-meta">
                            <span class="card-date">{{ .Date.Format "Jan 02, 2006" }}</span>
                            <span class="card-read-time">{{ .ReadingTime }} min read</span>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            <div class="card-desc">{{ .Description | default (.Plain | htmlUnescape | truncate 180) }}</div>
                            
                            <div class="card-tags">
                                {{ with .Params.tags }}
                                {{ range first 4 . }}
                                <a href="{{ "tags/" | absURL }}{{ . | urlize }}" class="card-tag">#{{ . }}</a>
                                {{ end }}
                                {{ end }}
                            </div>
    
                            <div class="card-footer">
                                <a href="{{ .Permalink }}" class="card-link" aria-label="Read more about {{ .Title }}">
                                    <span>Read Article</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ partial "pagination-list.html" . }}
        </main>
    </div>
{{ end }}
