{{ define "main" }}
<div class="content">
    <main class="post">

        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            {{ with .Params.Description }}
            <div class="post-excerpt">{{ . }}</div>
            {{ end }}

            {{ if .Params.Cover }}
            <figure class="post-cover">
                <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />

                {{ if .Params.CoverCaption }}
                <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                {{ end }}
            </figure>
            {{ end }}

            {{- if .Params.toc }}
            <hr />
            <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                {{ .TableOfContents }}
            </aside>
            <hr />
            {{- end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

        <hr />

        {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ if not (eq .Params.Comments "false") }}
        <div id="comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.Commento.Url }}
        <script defer src={{ .Site.Params.Commento.Url }}></script>
        <div id="commento"></div>
        {{ end }}

        {{ if .Site.Params.Utterances.Repository }}
        <script src="https://utteranc.es/client.js" repo="{{ .Site.Params.Utterances.Repository }}" {{ if
            .Site.Params.Utterances.Label }}label="{{ .Site.Params.Utterances.Label }}" {{ end }}
            issue-term="{{ .Site.Params.Utterances.IssueTerm }}" theme="{{ .Site.Params.Utterances.Theme }}"
            crossorigin="anonymous" async>
            </script>
        {{ end }}

    </main>
</div>
{{ end }}